html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  padding-top: 10px;
  margin: 30px;
}

a {
  font-family: Montserrat, sans-serif;
}

h3 {
  font-family: 'Major Mono Display', monospace;
  font-size: 35px;
}

p {
  font-family: Montserrat, monospace;
  align-content: center;
}

table {
  padding: 20px;
}

.banner {
  text-align: center;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax {
  /* The image used */
  background-image: url("jumbotron_img.jpg");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 50px;
}

.landscape {
  /* The image used */
  background-image: url("landscape_img.jpg");

  height: 10%;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portrait {
  /* The image used */
  background-image: url("portrait_img.jpg");

  /* Set a specific height */
  height: 10%;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.text-overlay {
  vertical-align: middle;
  text-align: center;
}

.table{
    display:table;
    width:100%;
    table-layout:fixed;
}

.table-cell{
    display:table-cell;
    width:100px;
}

#headshot {
  width: 50px;
  height: 50px;
  opacity: 1;
  border-radius: 25px;

  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

#headshot:hover {
  opacity: 0.5;
}

#banner-img {
  opacity: 0.75;
  border-radius: 15px;
  size: 0.8;
}

#banner-img:hover {
  opacity: 1;
}

#banner-txt {
  font-size: 100px;
  color: white;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#description {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

#footer {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #EDF8F8;
}
